<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/work">Work</a>
          </nav>
          </div>