    <div class="container">
      <h1>About Verena Pausder</h1>

      <h2>Her Main Achievements</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        aliquid dolore error ducimus deleniti totam, quasi qui. Excepturi
        tempora enim aspernatur doloribus rem maiores non praesentium, aperiam
        necessitatibus repellendus. Cum impedit nulla dignissimos et voluptatum
        rerum corrupti repellat omnis! Omnis!
      </p>
      <h2>What makes her a role model for me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        aliquid dolore error ducimus deleniti totam, quasi qui. Excepturi
        tempora enim aspernatur doloribus rem maiores non praesentium, aperiam
        necessitatibus repellendus. Cum impedit nulla dignissimos et voluptatum
        rerum corrupti repellat omnis! Omnis!
      </p>
    </div>