<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Home</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/home"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/work">Work</a>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <nav></nav>
    <h1>
      Welcome on this page about one person I really admire - Verena Pausder
    </h1>
    <p>
      just a coincidence she has the same fist name like I have ;) She is a
      great person, expremely active
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore cum qui
      ducimus fugiat non culpa provident nostrum tenetur libero, quos beatae
      consequatur dolore ex officia ut minima doloremque, accusantium obcaecati
      quaerat sit perspiciatis minus porro animi voluptas. Accusantium soluta
      commodi quibusdam pariatur inventore blanditiis, labore quos excepturi
      reprehenderit dignissimos quae?
    </p>
  </body>
</html>
