<div class="container">
<h1>Welcome on this page about Verena Pausder</h1>
<div class="row" id="home-intro">
<div class="col-6">
<p>Serial Entrepreneur, Mother of three, Author & one of Forbes Europe’s Top 50 Women In Tech - Verena is just a great and inspiring person and one of the leading experts when it comes to digitalizing education in Germany. And just a coincidence: She has the same first name then I do ;)</p>
<p>This website aims at giving you more insights into her work and acopmlishments.</p>
</div>
<div class="col-4">
  <img src="/IntroImageVerena.jpg" class="img-fluid" alt="That's her">
</div>
</div>
</div>