<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Her Work</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/home">Home </a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/work"
            >Work <span class="sr-only">(current)</span>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <h1>What Verena has achieved so far</h1>
    <h2>Companies she founded</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid
      dolore error ducimus deleniti totam, quasi qui. Excepturi tempora enim
      aspernatur doloribus rem maiores non praesentium, aperiam necessitatibus
      repellendus. Cum impedit nulla dignissimos et voluptatum rerum corrupti
      repellat omnis! Omnis!
    </p>
    <h2>Her Books</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid
      dolore error ducimus deleniti totam, quasi qui. Excepturi tempora enim
      aspernatur doloribus rem maiores non praesentium, aperiam necessitatibus
      repellendus. Cum impedit nulla dignissimos et voluptatum rerum corrupti
      repellat omnis! Omnis!
    </p>
    <h2>Her role within the industry</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aliquid
      dolore error ducimus deleniti totam, quasi qui. Excepturi tempora enim
      aspernatur doloribus rem maiores non praesentium, aperiam necessitatibus
      repellendus. Cum impedit nulla dignissimos et voluptatum rerum corrupti
      repellat omnis! Omnis!
    </p>
  </body>
</html>
